

.ganeshji {

  position: absolute;
  width: 100%;
  
  object-fit: cover;
  left: 0;
  top: 0;
}

.thali{
 z-index: 999;
 position: absolute;
 /* bottom: 0; */
 right: 0;
 top: 68.5rem;
}

.ddiv{
  height: 110%;
}

body{
  
}